In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/cn_2.csv')

In [ ]:
df.head()

,Year,GDP (Bn),Carbon Emission (Metric tons),Energy Consumption (Kwh),Expenditure to protect Environment (Bn)
0,1980,1455.2541,1.05,2983.644860,30.25
1,1981,1546.4587,1.25,3261.214953,42.25
2,1982,1645.4587,1.04,3379.906542,45.12
3,1983,1785.6587,1.35,3668.224299,48.21
4,1984,1745.6541,1.64,3759.345794,60.25

In [ ]:
df[['log_GDP',	'log_Carbon Emission',	'log_Energy Consumption',	'log_Expenditure to protect Environment']]=np.log(df[['GDP (Bn)',	'Carbon Emission (Metric tons)',	'Energy Consumption (Kwh)',	'Expenditure to protect Environment (Bn)']])

In [ ]:
df.head()

,Year,GDP (Bn),Carbon Emission (Metric tons),Energy Consumption (Kwh),Expenditure to protect Environment (Bn),log_GDP,log_Carbon Emission,log_Energy Consumption,log_Expenditure to protect Environment
0,1980,1455.2541,1.05,2983.644860,30.25,7.282936,0.048790,8.000901,3.409496
1,1981,1546.4587,1.25,3261.214953,42.25,7.343723,0.223144,8.089855,3.743604
2,1982,1645.4587,1.04,3379.906542,45.12,7.405774,0.039221,8.125603,3.809326
3,1983,1785.6587,1.35,3668.224299,48.21,7.487543,0.300105,8.207463,3.875566
4,1984,1745.6541,1.64,3759.345794,60.25,7.464885,0.494696,8.232000,4.098503

In [ ]:
from statsmodels.tsa.stattools import adfuller

#perform augmented Dickey-Fuller test
adfuller(df['log_GDP'].dropna(), regression='ctt')

(-2.7446832956935423,
 0.4290238572148512,
 0,
 42,
 {'1%': -4.6718538662131515,
  '5%': -3.981678937479754,
  '10%': -3.6442517854443364},
 -80.52865754752634)

In [ ]:
adfuller(df['log_Carbon Emission'].dropna(), regression='ctt')

(-5.487099922622112,
 0.00013450723453782134,
 0,
 42,
 {'1%': -4.6718538662131515,
  '5%': -3.981678937479754,
  '10%': -3.6442517854443364},
 -89.58216598409902)

In [ ]:
adfuller(df['log_Energy Consumption'].dropna(), regression='c')

(-2.7727894789469163,
 0.06226694718301362,
 3,
 39,
 {'1%': -3.610399601308181,
  '5%': -2.939108945868946,
  '10%': -2.6080629651545038},
 -92.92125156281796)

In [ ]:
adfuller(df['log_Expenditure to protect Environment'].dropna(),  regression='c')

(-3.992605663943429,
 0.001449728949088972,
 0,
 42,
 {'1%': -3.596635636000432,
  '5%': -2.933297331821618,
  '10%': -2.6049909750566895},
 87.97754180631381)

In [ ]:
df['GDP_1st_diff'] = df['log_GDP'] - df['log_GDP'].shift(1)

In [ ]:
# df['Carbon Emission_1st_diff'] = df['log_Carbon Emission'] - df['log_Carbon Emission'].shift(1)

In [ ]:
df['Energy Consumption_1st_diff'] = df['log_Energy Consumption'] - df['log_Energy Consumption'].shift(1)

In [ ]:
# df['Expenditure to protect Environment_1st_diff'] = df['log_Expenditure to protect Environment'] - df['log_Expenditure to protect Environment'].shift(1)

In [ ]:
df.head()

,Year,GDP (Bn),Carbon Emission (Metric tons),Energy Consumption (Kwh),Expenditure to protect Environment (Bn),log_GDP,log_Carbon Emission,log_Energy Consumption,log_Expenditure to protect Environment,GDP_1st_diff,Energy Consumption_1st_diff
0,1980,1455.2541,1.05,2983.644860,30.25,7.282936,0.048790,8.000901,3.409496,NaN,NaN
1,1981,1546.4587,1.25,3261.214953,42.25,7.343723,0.223144,8.089855,3.743604,0.060787,0.088954
2,1982,1645.4587,1.04,3379.906542,45.12,7.405774,0.039221,8.125603,3.809326,0.062052,0.035748
3,1983,1785.6587,1.35,3668.224299,48.21,7.487543,0.300105,8.207463,3.875566,0.081768,0.081860
4,1984,1745.6541,1.64,3759.345794,60.25,7.464885,0.494696,8.232000,4.098503,-0.022658,0.024537

In [ ]:
from statsmodels.tsa.stattools import adfuller

#perform augmented Dickey-Fuller test
adfuller(df['GDP_1st_diff'].dropna(), regression='c')

(-6.33034734652821,
 2.916742591462323e-08,
 0,
 41,
 {'1%': -3.60098336718852,
  '5%': -2.9351348158036012,
  '10%': -2.6059629803688282},
 -75.82514742592936)

In [ ]:
# adfuller(df['Carbon Emission_1st_diff'].dropna(), regression='ctt')

In [ ]:
adfuller(df['Energy Consumption_1st_diff'].dropna(), regression='ctt')

(-4.69322936450123,
 0.0032892216062165697,
 2,
 39,
 {'1%': -4.697444337733272,
  '5%': -3.9940239402215143,
  '10%': -3.651647322780222},
 -86.1927764358843)

In [ ]:
# adfuller(df['Expenditure to protect Environment_1st_diff'].dropna())

In [ ]:
# df['Carbon Emission_2nd_diff'] = df['log_Carbon Emission'] - df['log_Carbon Emission'].shift(2)

In [ ]:
# df['Energy Consumption_2nd_diff'] = df['log_Energy Consumption'] - df['log_Energy Consumption'].shift(2)

In [ ]:
# adfuller(df['Carbon Emission_2nd_diff'].dropna())

In [ ]:
# adfuller(df['Energy Consumption_2nd_diff'].dropna())

ARDL Model Implemetation

In [ ]:
import statsmodels.api as sm

In [ ]:
df.head()

,Year,GDP (Bn),Carbon Emission (Metric tons),Energy Consumption (Kwh),Expenditure to protect Environment (Bn),log_GDP,log_Carbon Emission,log_Energy Consumption,log_Expenditure to protect Environment,GDP_1st_diff,Energy Consumption_1st_diff
0,1980,1455.2541,1.05,2983.644860,30.25,7.282936,0.048790,8.000901,3.409496,NaN,NaN
1,1981,1546.4587,1.25,3261.214953,42.25,7.343723,0.223144,8.089855,3.743604,0.060787,0.088954
2,1982,1645.4587,1.04,3379.906542,45.12,7.405774,0.039221,8.125603,3.809326,0.062052,0.035748
3,1983,1785.6587,1.35,3668.224299,48.21,7.487543,0.300105,8.207463,3.875566,0.081768,0.081860
4,1984,1745.6541,1.64,3759.345794,60.25,7.464885,0.494696,8.232000,4.098503,-0.022658,0.024537

In [ ]:
from statsmodels.tsa.api import ARDL
from statsmodels.datasets import danish_data

def ardl(data, y):
    exog = data[["log_GDP", "log_Energy Consumption"]]
    model = ARDL(data[y], 3, exog, 3)
    ardl_model = model.fit()
    return ardl_model.summary()

In [ ]:
ardl(df, 'log_GDP')

<class 'statsmodels.iolib.summary.Summary'>
"""
                              ARDL Model Results
==============================================================================
Dep. Variable:                log_GDP   No. Observations:                   43
Model:                  ARDL(3, 3, 3)   Log Likelihood                1117.256
Method:               Conditional MLE   S.D. of innovations              0.000
Date:                Thu, 16 Mar 2023   AIC                          -2208.512
Time:                        10:51:16   BIC                          -2186.557
Sample:                             3   HQIC                         -2200.574
                                   43
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                      3.553e-15   1.69e-12      0.002      0.998   -3.46e-12    3.46e-12
log_GDP.L1                 1.332e-15    3.5e-13      0.004      0.997   -7.16e-13    7.19e-13
log_GDP.L2                -8.438e-15    3.5e-13     -0.024      0.981   -7.25e-13    7.08e-13
log_GDP.L3                 4.441e-15    3.2e-13      0.014      0.989   -6.52e-13    6.61e-13
log_GDP.L0                    1.0000   5.62e-13   1.78e+12      0.000       1.000       1.000
log_GDP.L1                -3.553e-15    3.5e-13     -0.010      0.992   -7.21e-13    7.14e-13
log_GDP.L2                -8.882e-15    3.5e-13     -0.025      0.980   -7.25e-13    7.08e-13
log_GDP.L3                 4.441e-16    3.2e-13      0.001      0.999   -6.56e-13    6.57e-13
log_Energy Consumption.L0  3.553e-15   6.79e-13      0.005      0.996   -1.39e-12     1.4e-12
log_Energy Consumption.L1          0   8.25e-13          0      1.000   -1.69e-12    1.69e-12
log_Energy Consumption.L2 -3.553e-15   8.76e-13     -0.004      0.997    -1.8e-12    1.79e-12
log_Energy Consumption.L3 -3.553e-15   8.36e-13     -0.004      0.997   -1.72e-12    1.71e-12
=============================================================================================
"""

In [ ]:
ardl(df, 'log_Energy Consumption')

<class 'statsmodels.iolib.summary.Summary'>
"""
                                ARDL Model Results
==================================================================================
Dep. Variable:     log_Energy Consumption   No. Observations:                   43
Model:                      ARDL(3, 3, 3)   Log Likelihood                1121.185
Method:                   Conditional MLE   S.D. of innovations              0.000
Date:                    Thu, 16 Mar 2023   AIC                          -2216.370
Time:                            10:52:33   BIC                          -2194.415
Sample:                                 3   HQIC                         -2208.432
                                       43
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                      1.066e-14   1.53e-12      0.007      0.994   -3.13e-12    3.15e-12
log_Energy Consumption.L1 -7.105e-15   3.74e-13     -0.019      0.985   -7.73e-13    7.58e-13
log_Energy Consumption.L2 -3.553e-15   3.97e-13     -0.009      0.993   -8.16e-13    8.09e-13
log_Energy Consumption.L3  5.329e-15   3.79e-13      0.014      0.989   -7.71e-13    7.81e-13
log_GDP.L0                 3.553e-15   5.09e-13      0.007      0.994   -1.04e-12    1.05e-12
log_GDP.L1                 1.776e-15   6.35e-13      0.003      0.998    -1.3e-12     1.3e-12
log_GDP.L2                 5.329e-15   6.34e-13      0.008      0.993   -1.29e-12     1.3e-12
log_GDP.L3                -1.332e-14   5.81e-13     -0.023      0.982    -1.2e-12    1.18e-12
log_Energy Consumption.L0     1.0000   6.16e-13   1.62e+12      0.000       1.000       1.000
log_Energy Consumption.L1          0   3.74e-13          0      1.000   -7.66e-13    7.66e-13
log_Energy Consumption.L2 -1.066e-14   3.97e-13     -0.027      0.979   -8.24e-13    8.02e-13
log_Energy Consumption.L3  7.105e-15   3.79e-13      0.019      0.985   -7.69e-13    7.83e-13
=============================================================================================
"""

In [ ]:
#from statsmodels.tsa.stattools import adfuller

#perform augmented Dickey-Fuller test
#adfuller(df['Rev_Repo_Rate_1st_diff'].dropna())

In [ ]:
#df.head()

In [ ]:
#

In [ ]:
# ARIMA Implementation

In [ ]:
# from statsmodels.tsa.arima_model import ARIMA

In [ ]:
# from statsmodels.tsa.arima.model import ARIMA
# model = ARIMA(df['Inflation'], order=(2,1,1))
# model_fit = model.fit()
# model_fit.summary()

In [ ]:
# from statsmodels.tsa.arima.model import ARIMA
# model = ARIMA(df['unemployment Rates'], order=(2,1,1))
# model_fit = model.fit()
# model_fit.summary()

In [ ]:
# from statsmodels.tsa.arima.model import ARIMA
# model = ARIMA(df['Repo Rate'], order=(2,1,1))
# model_fit = model.fit()
# model_fit.summary()

In [ ]:
# from statsmodels.tsa.arima.model import ARIMA
# model = ARIMA(df['Inflation'], order=(3,1,1))
# model_fit = model.fit()

In [ ]:
# model_fit.summary()

In [ ]:
# from statsmodels.tsa.arima.model import ARIMA
# model = ARIMA(df['unemployment Rates'], order=(3,1,1))
# model_fit = model.fit()
# model_fit.summary()

In [ ]:
# from statsmodels.tsa.arima.model import ARIMA
# model = ARIMA(df['Repo Rate'], order=(3,1,1))
# model_fit = model.fit()
# model_fit.summary()